################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project/v17
/MilkTeaCashier/.vs/MilkTeaCashier
